* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

.letra {
	font-size: small;
}

/*-----PLECA DEL POLITECNICO-----*/

.pleca {
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	align-content: center;
	flex-wrap: nowrap;
}

.pleca-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pleca-principal {
	margin-top: 20px;
	width: 80%;
}

/*-----TITULO-----*/

.titulo {
	color: #6c1d38;
	margin-top: 20px;
}

/* --------- PLECA TITULO ---------- */

/*-----MENU SIDEBAR-----*/

.card-body {
	padding: 0;
}

.card-element {
	/* border-top: 1px #ccc solid; */
}

.video-bienvenida {
	width: 50%;
}

.video {
	width: 100%;
}

.sidebar-container {
	position: fixed;
	width: 220px;
	height: 100%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
	color: #fff;
}

.content-container {
	padding-top: 20px;
}

.sidebar-logo {
	padding: 10px 15px 10px 30px;
	font-size: 20px;
	background-color: #6c1d38;
}

.sidebar-navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
}

.sidebar-navigation li {
	background-color: transparent;
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 20px;
}

.sidebar-navigation li a {
	color: black;
	transition: all 0.3s ease;
	padding: 10px 15px 10px 30px;
	display: block;
	/* color: #1a1a1a; */
	text-decoration: none;
}

.sidebar-navigation li .fa {
	margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
	text-decoration: none;
	outline: none;
}

.sidebar-navigation li a:hover {
	color: white;
	transition: all 0.3s ease;
}

.sidebar-navigation li::before {
	background-color: #6c1d38;
	position: absolute;
	content: "";
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 3px;
	z-index: -1;
}

.sidebar-navigation li:hover::before {
	width: 100%;
}

.sidebar-navigation .header {
	font-size: 12px;
	text-transform: uppercase;
	background-color: #fff;
	/* padding: 10px 15px 10px 30px; */
	color: #1a1a1a;
}

.sidebar-navigation .header::before {
	background-color: transparent;
}

.content-container {
	padding-left: 220px;
}

/*--FOOTER--*/

.footer {
	background-color: #6c1d38;
	color: #fff;
	text-align: center;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 2rem;
}

.footer-p {
	align-self: center;
	text-transform: uppercase;
}

/*--CONTENIDO--*/

.plecas-titulos {
	width: 50%;
}

.bienvenida {
	height: 7rem;
	width: auto;
}

.contenido {
	/* padding-left: 110px; */
	text-align: left;
    /* border-color: #6c1d38; */
    background-color: #ffffff;
}

.elemento-contenido {
    border: 1px #6c1d38 solid;
    padding-bottom: 1rem;
}

.main-content {
	padding-right: 2rem;
	/* padding-left: 2rem; */
}

.contenido-activo {
	height: 30rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.centrar {
	text-align: center;
}

/*Barra lateral */

.vertical-menu {
	width: 80%;
	/* height: 250px; */
	/* Set a width if you like */
	border: 2px #6c1d38 solid;
	/* padding-left: 10px; */
	margin: auto;
}

.vertical-menu a {
	background-color: #fff;
	/* Grey background color */
	color: black;
	/* Black text color */
	display: block;
	/* Make the links appear below each other */
	padding: 9px;
	/* Add some padding */
	text-decoration: none;
	/* Remove underline from links */
	/* font-size: 0.8rem; */
}

.vertical-menu a:hover {
	background-color: #ddd;
	color: black;
	/* Dark grey background on mouse-over */
}

.vertical-menu a.active {
	background-color: #6c1d38;
	/* Add a green color to the "active/current" link */
	color: white;
}

.espacioArriba {
	margin-top: 50px;
}

.rotate {
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	/* margin-left: 70px; */
}

.rotate.down {
	transform: rotate(90deg);
}

.centrarPlecas {
	margin: auto;
	text-align: center;
}

.paddinTop {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}

.justificar {
	text-align: justify;
}

.paddingExt {
	padding-left: 5px;
	padding-right: 5px;
}

/* ----------- MEDIA QUERIES ----------- */

@media screen and (max-width: 776px) {
	.pleca-principal {
		width: 100%;
		margin: 0;
	}

	.vertical-menu {
		width: 60%;
	}

	.plecas-titulos {
		width: 75%;
	}

	.bienvenida {
		width: 80%;
		height: auto;
	}

	.video-bienvenida {
		width: 90%;
	}

	.main-content {
		padding-right: 1rem;
		padding-left: 1.5rem;
	}
}
